{% extends 'base_template.html' %}
{% load static %}
{% block title %}Solar PV | About Us{% endblock %}

{% block content %}

	<link rel="stylesheet" href="{% static 'css/about.css' %}"> <!-- middle css -->

      <!-- middle container -->
			<div class="middle">
        <h1>ABOUT US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque, lectus eu faucibus molestie, elit ligula viverra quam, id posuere neque orci eget sem. Curabitur gravida odio vitae iaculis fermentum. Nunc porta turpis sed lectus volutpat, sit amet tempus arcu ullamcorper. Pellentesque suscipit purus enim, nec volutpat elit malesuada eget. Ut cursus eleifend odio vel semper. Curabitur in mi gravida, viverra enim eu, laoreet mauris. Aliquam pellentesque magna in pulvinar rhoncus.</p>
        <p>Fusce augue quam, iaculis in ullamcorper id, maximus vehicula elit. Duis tincidunt neque maximus porttitor tincidunt. Mauris nulla diam, lacinia id porttitor et, sagittis a odio. Ut imperdiet sem nec tellus lobortis consequat. Morbi interdum ac libero in auctor. Praesent fringilla magna rutrum lectus placerat maximus. Suspendisse potenti.</p>
        <p>Suspendisse iaculis metus id dui gravida commodo. In hac habitasse platea dictumst. Phasellus elementum eros in nunc dapibus, at condimentum tortor dictum. Vivamus in risus vitae erat sollicitudin efficitur eu mollis felis. Proin euismod nulla diam. Praesent at tortor iaculis, fermentum metus sed, commodo sem. Fusce nunc eros, mattis sit amet tristique eu, volutpat et felis. Sed nec bibendum arcu. Vivamus dictum non risus id finibus. Suspendisse egestas lectus sed felis egestas iaculis. Praesent condimentum nibh at neque tincidunt hendrerit. Aenean neque nulla, ultrices at venenatis quis, porttitor sit amet enim. Nullam aliquam sapien vitae urna tempor, ullamcorper rutrum velit sodales. Vivamus interdum sodales arcu ut feugiat. Praesent sed vestibulum ante, at ornare ex. Donec aliquam, purus vitae finibus rutrum, augue ipsum accumsan ipsum, finibus commodo erat mi in ex.</p>
      </div> <!-- end middle -->

{% endblock %}
