{% extends 'base_template.html' %}

{% load static %}

{% block title %}Solar PV | PV Data{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/data.css' %}"> <!-- middle css -->
      <!-- middle container -->
			<div class="middle">
        <h2 id="mlp">Module Lifetime Prediction</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elit libero, semper eu mauris in, fermentum porttitor dui. In ac libero erat. Duis in diam nulla. Donec vitae varius diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus purus leo, finibus mattis lobortis sed, bibendum non augue. Ut dapibus vitae magna vitae fringilla. Ut pharetra lacus et lorem pretium, et bibendum tortor ultricies. Curabitur tincidunt ut magna a vulputate. Donec consectetur ante eget tincidunt lacinia. Phasellus convallis sapien massa, eu mollis eros posuere feugiat. Quisque sit amet dictum nunc. Cras volutpat, ipsum ac ornare aliquam, nisl lectus vestibulum massa, eget pretium nisl justo vitae quam. Aenean eu pretium ipsum.</p>
          <p>Morbi consectetur dapibus nunc sed suscipit. Mauris condimentum malesuada congue. Duis tincidunt vestibulum auctor. Morbi ac rhoncus felis, non aliquam nisl. Donec posuere massa eget diam vulputate, ac mattis lacus tincidunt. Proin ac metus rutrum, pretium erat vel, volutpat nisl. Cras pharetra aliquam leo vel vulputate. Nullam vulputate, ante ac dictum accumsan, nunc nulla ultrices lorem, ac vestibulum nunc leo eget turpis.</p>
        <h2 id="ep">Energy Prediction</h2>
          <p>Donec non luctus est. Phasellus sollicitudin semper velit, sed pretium elit pharetra at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ut tempus augue, sed ultricies risus. Etiam nec dolor mi. Morbi non varius sapien, nec mattis lacus. Donec aliquam est diam. Sed nunc sem, tincidunt id varius et, pretium ac erat. Sed dignissim diam eu laoreet feugiat. Cras lobortis id tellus eu eleifend. Ut venenatis a metus nec cursus. Phasellus lobortis a enim sed hendrerit. Suspendisse suscipit molestie libero non interdum.</p>
          <p>Quisque metus sapien, ornare eget ornare rhoncus, luctus in lacus. Fusce iaculis, metus ut imperdiet ullamcorper, quam leo volutpat eros, ac molestie massa nisl sit amet ante. Sed non nunc eget nisl ultricies faucibus in sed augue. Phasellus lacinia neque a est varius, at mollis ex tincidunt. Morbi ut nulla eget ex pharetra auctor. Duis aliquam eros eu ante tincidunt, in viverra diam accumsan. Sed sollicitudin vitae ligula eget mollis. Vestibulum odio enim, consequat eget commodo et, sollicitudin id nulla. Proin id sodales eros. Quisque vehicula laoreet metus, vitae euismod arcu tincidunt at.</p>
      </div> <!-- end middle -->



{% endblock %}
