{% extends 'base_template.html' %}
{% load static %}
{% block title %}Solar PV | Products{% endblock %}

{% block content %}

	<link rel="stylesheet" href="{% static 'css/product.css' %}"> <!-- middle css -->

      <!-- middle container -->
			<div class="middle">

        <h1>Add Manufacturer</h1>
        <form method="POST" action="{% url 'products:product' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" placeholder="Manufacturer Name" name="manufacturer">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Model Number" name="modelNumber">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Length (cm)" name="length">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Width (cm)" name="width">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Weight (kg)" name="weight">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Total Number of Cells" name="totalnumberofCells">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Number of Series Strings" name="numberofseriesStrings">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Series Fuse Rating (A)" name="seriesfuseRating">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Frame Type" name="frameType">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Maximum Voltage (V)" name="maxVoltage">
          </div>
          <div class="form-group">
            <input type="text" placeholder="VOC (V)" name="voc">
          </div>
          <div class="form-group">
            <input type="text" placeholder="ISC (A)" name="isc">
          </div>
          <div class="form-group">
            <input type="text" placeholder="VMP (V)" name="vmp">
          </div>
          <div class="form-group">
            <input type="text" placeholder="IMP (A)" name="imp">
          </div>
          <div class="form-group">
            <input type="text" placeholder="PMP (W)" name="pmp">
          </div>
          <div class="form-group">
            <input type="text" placeholder="FF (%)" name="ff">
          </div>
          <button type="submit">Submit</button>
        </form>

      </div> <!-- end middle -->

{% endblock %}
