{% extends 'base_template.html' %}

{% load static %}

{% block title %}Solar PV | Registration{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}"> <!-- middle css -->
      <!-- middle container -->
			<div class="middle" id="reg">
				<div class="container">
          <div class="title">
            Registration
            <p>Please fill in this form to create an account.</p>
          </div>
            <div class="col-lg-8m-auto d-block">
              <form>
  		        <hr>
              <!-- Username and Password section -->
              <div class="form-group">
                <label for="username">
                  Username: <span>*Required</span>
                </label>
                <input type="text" name="username" id="usernames" class="form-control">
                <h5 id="usercheck" style="color: red;">
                  **FIELD IS REQUIRED!
                </h5>
                <ul>
                  <li>Username must be between 3 and 8 characters long.</li>
                </ul>
              </div>

              <div class="form-group">
                <label for="password">
                  Password: <span>*Required</span>
                </label>
                <input type="password" name="password" id="password" class="form-control">
                <h5 id="passcheck" style="color: red;">
                  **PLEASE ENTER A VALID PASSWORD
                </h5>
                <ul>
                  <li>Password must be between 3 and 8 characters long.</li>
                  <li>Password must contain 1 UPPERCASE letter and 1 lowercase letter.</li>
                  <li>Password must contain at least 1 number.</li>
                </ul>
              </div>

              <div class="form-group">
                <label for="conpassword">
                  Confirm Password: <span>*Required</span>
                </label>
                <input type="password" placeholder="Re-Enter Password" name="conpassword" id="conpassword" class="form-control">
                <h5 id="conpasscheck" style="color: red;">
                  **PASSWORDS DO NOT MATCH
                </h5>
              </div>
              <hr>

              <!-- name section -->
              <div class="form-group">
                <label for="fname">
                  First Name:
                </label>
                <input type="text" name="fname" id="fname" class="form-control">
              </div>
              <div class="form-group">
                <label for="mname">
                  Middle Name:
                </label>
                <input type="text" name="mname" id="mname" class="form-control">
              </div>
              <div class="form-group">
                <label for="lname">
                  Last Name: <span>*Required</span>
                </label>
                <input type="text" name="lname" id="lname" class="form-control" required>
              </div>
              <!-- gender section -->
              <div class="form-group">
                <label for="gender">
                  Gender:
                </label>
                <input type="radio" id="male" name="gender" value="male" required>
        			  <label for="male">Male</label>
        			  <input type="radio" id="female" name="gender" value="female" required>
        			  <label for="female">Female</label>
        			  <input type="radio" id="other" name="gender" value="other" required>
        			  <label for="other">Other</label>
                <span> *Required</span>
  	          </div>
              <br>

              <!-- address section -->
              <div class="form-group">
                <label for="address">
                  Street Address: <span>*Required</span>
                </label>
                <input type="text" name="address" id="address" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="city">
                  City: <span>*Required</span>
                </label>
                <input type="text" name="city" id="city" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="state">
                  State: <span>*Required</span>
                </label>
                <input type="text" placeholder="State &#40;US States Only&#41;" name="state" id="state" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="zip">
                  Zip Code: <span>*Required</span>
                </label>
                <input type="text" name="zip" id="zip" class="form-control" required>
              </div>

               <!-- contact section -->
              <div class="form-group">
                <label for="email">
                      Email: <span>*Required</span>
                </label>
                <input type="email" name="email" id="email" class="form-control"  required >
                <small id="emailvalid" class="form-text text-muted invalid-feedback">
                  Your email must be a valid email
                </small>
              </div>

              <br>
              <div class="form-group">
                  <label for="phone">
                    Cell Phone Number: <span>*Required</span>
                  </label>
                  <input type="text" name="phone" id="phone" class="form-control" required>
              </div>

              <!-- company section -->
              <div class="form-group">
                  <label for="company">
                    Company: <span>*Required</span>
                  </label>
                  <input type="text" name="company" id="company" class="form-control" required>
    		    	</div>
        			<hr>
        			<p>By creating an account you agree to our <a href="{% url 'tandc' %}">Terms</a> & <a href="{% url 'privacy' %}">Privacy</a>.</p>

              <input type="submit" id="submitbtn" value="Submit" class="btn btn-primary">
            </div> <!-- end col -->
          </div> <!-- end container -->

  				<div class="container signin">
  					<p>Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
  				</div> <!-- end container signin -->
      </div> <!-- end middle -->

{% endblock %}
