{% extends 'base_template.html' %}

{% load static %}

{% block title %}Solar PV | Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> <!-- middle css -->
      <!-- middle container -->
			<div class="middle" id="log">
          <div class="container">
            <div class="title">
              User Login
              <p>Please enter your username and password.</p>
            </div>
            <form class="login_form" action="{% url 'landing' %}" method="get|post" name="form" onclick="return validated()">
  					<hr>
              <div class="form-group">
                <input autocomplete="off" type="text" name="username" placeholder="Username">
                <div id="uname_error">Enter your username.</div>
              </div>
              <br>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password">
                <div id="psw_error">Enter your password.</div>
              </div>
              <p>New User? <a href="{% url 'register2' %}">Create</a> a new account.</p>
              <br>
              <!--button-->
              <button type=submit>Login</button>

              <p><a href="{% url 'password' %}">Forgot your Password?</a></p>
              <p>By signing in, you agree to our <a href="{% url 'tandc' %}">Terms</a> & <a href="{% url 'privacy' %}">Privacy</a>.</p>

						</form>
					</div>
      </div> <!-- end middle -->

{% endblock %}
